{% load i18n %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/base.css">

        {% block head %}{% endblock %}

        <title>{% block title %}{% trans "Panjere" %}{% endblock %}</title>
    </head>

    <body>



        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/">{% trans "Feed" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/frame">{% trans "Frame"  %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">{% trans "About" %}</a>
                        </li>
                    </ul>
                </div>
            </div>

            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
