<head>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base.css">
</head>
{% load i18n %}
<div class="row justify-content-center">
        <div class="col-md-6 card">
            <div class="card-header">
                <h3>{% trans "Panjere" %}</h3>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <div class="newLinkForm">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.text }}
                            </br>
                            {{ form.captcha }}
                            <input type="submit" />
                        </form>
                    </div>
                    {% if form.text.errors %}
                       {% for error in form.text.errors %}
                          <div class="has-error alert alert-danger">
                               <strong>{{ error|escape }}</strong>
                          </div>
                       {% endfor %}
                    {% endif %}
                    {% if form.captcha.errors %}
                       {% for error in form.captcha.errors %}
                          <div class="has-captcha-error alert alert-danger">
                               <strong>{{ error|escape }}</strong>
                          </div>
                       {% endfor %}
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="alert alert-success">
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
