:root {
  --box-height: 100px;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#html-box {
  height: calc(var(--box-height));
  box-sizing: border-box;
  border-bottom: 2px solid #ddd;
}
.box-heading {
  padding: 3px 0 3px 20px;
  background-color: #333;
  color: white;
}
#html-editor {
  height: calc(var(--box-height) - 1rem - 16px);
  width: 100%;
  font-size: 14px;
}

#html-editor * {
  text-align: left;
}

/* hide scrollbars in chrome - don't know about FF */
::-webkit-scrollbar {
    display: none;
}

#preview-box {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#preview-target {
  height: 100%;
  width: 100%;
  border: none;
}

#reloadButton {
    margin: 20px;
}
