<head>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/frame.css">
</head>
<title>Random Links</title>
<table class="table">
    {% for link in links %}
        <tr><td><a href="{{ link.text  }}" target="_blank" style="target-new: tab;">{{ link.title }}</a></td></tr>
    {% endfor %}
</table>
