<h3 id="درباره‌ی-پنجره">درباره‌ی پنجره</h3>
<p>اینجا یه <strong>دیتابیس</strong> داریم که یه سری مطلب کمتر دیده شده و خوب تو حوزه‌ی کامپیوتردر قالب یه سری لینک با یه سری مشخصات پایه (عنوان مطلب، دامنه‌ی مربوط به مطلب) از منابع مختلف بهش خورونده میشه.</p>
<p>و یه سری <strong>پنجره</strong> داریم که از این دیتابیس استفاده میکنن و بخشی ازین مطالب رو به نمایش میذارن.<br>
خروجی میشه همون بخش <strong>پیوند‌های مفید</strong> که تو وبلاگ‌هامون استفاده میکنیم با این تفاوت که سلامت لینک ها تضمین میشه و با هر دور بارگذاری صفحه لینک‌های <strong>تصادفی</strong> جدیدی نمایش داده میشن.</p>
<h3 id="استفاده-از-پنجره">استفاده از پنجره</h3>
<p>میتونید لینک‌هایی رو برای اضافه شدن به دیتابیس بفرستید.<br>
<s>میتونید صرفا عضو بشید و لینکای جدید رو در <strong>کانال تلگرام</strong> یا صفحه‌ی اصلی سایت یا از طریق <strong>Rss</strong> ببینید.</s><br>
یا میتونید در بیشتر دیده شدن این مطالب <strong>مشارکت</strong> کنید فقط کافیه که پنجره رو به یکی از سه روش در وبسایتتون نصب کنید.</p>
<p><strong>۱-  قاب ( Iframe )</strong><br>
<a href="/frame/">عنصر &lt;iframe&gt;</a> رو در کد اچ تی‌ام‌ال وبسایتتون قرار بدید.</p>
<p><strong>۲- api</strong><br>
از <a href="/frame/">api پنجره</a> استفاده کنید و با انعطاف پذیری بیشتر خودتون جوری که دوست دارید لینک‌ها رو نمایش بدید.</p>
<p><strong>۳- ویجت وردپرس</strong><br>
یا اگه از وبسایت وردپرسی استفاده میکنید میتونید <a href="/frame/">ویجت پنجره</a> رو نصب کنید.</p>


